# Entorno virtual
venv/
.env

# Archivos del sistema
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.sqlite3
*.db
*.db-journal

# Archivos de VS Code o editores
.vscode/
*.code-workspace

# Archivos de logs
*.log
